@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@100&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.navbar{
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background: #73A2BF; 
    justify-content: center;
    align-items: center;
}
.logo{
    flex: 20%;
    margin-left:10%;
    text-align: left;
}
.logo h1{
    font-family: 'Lobster', cursive;
    color: #59342C;
    font-size: 40px;
}
.menu{
    flex: 70%;
    text-align: right;
    padding: 20px;
    font-weight: 900;
}
.menu a{
    color: #59342C;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 10px;
}
.menu a:hover{
    color: #F2CAA7;
    border-top: 4px solid #59342C;
}
#botao{
    background: #59342C;
    padding: 10px 25px;
    color: white;
    border-radius: 11px;
    margin-right: 10%;
    margin-left: 5%;
}
#botao:hover{
    border: 0;
    background-color: #c0a085;
}
.header{
    display: flex;
    height: 700px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: #59342C;
    font-weight: 600;
}
.headline{
    margin-left: 10%;
    flex: 40%;
}
.headline h2 {
    font-weight:  900px;
    font-size: 20px;
    padding: 0;
    margin: 0;
}
.headline p {
    color: #59342C;
    text-align: left;
    text-align: left;
}
.contact-btn{
    background-color: #59342C;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}
.contact-btn:hover{
    background-color: #c0a085;
}
.img-headline{
    margin-right: 10%;
    flex: 40%;
    text-align: center;
}
section{
    margin-top: 80px;
    margin-left: 5%;
    margin-right: 5%;
    display: inline-block;
    text-align: center;
    padding: 5%;
    font-weight: 600;
}
section h2{
    width: 100%;
    font-size: 40px;
    margin: 0;
    font-family: 'Lobster', cursive;
    font-weight: bolder;
    color: #59342C;
}
.servico{
    display: inline-block;
    margin-top: 5%;

}
.card{
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border: 1.5px solid #023059;
    border-radius: 10px;
    cursor: pointer;
}
.texto-oculto{
    display: none;
}
.card:hover{
    background-color:#023059 ;
    color: #F2CAA7;
    padding: 40px ;
}
.card:hover img{
    display: none;
}
.card:hover .card-text{
    display: none;
}
.card:hover .texto-oculto{
    display: block;
}
footer{
    margin-top: 100px;
    height: 140px;
    background-image:linear-gradient(to bottom,#5D7CA6, #73A2BF) ;
    text-align: center;
}
.logo-rodape{
    padding-top: 1px;
}
.logo-rodape p, a {
    font-weight:bolder;
    color: #59342C;
    text-decoration: none;
}
.agencia{
    font-family: 'Lobster', cursive;
    color: #59342C;
    font-size: 40px;
}
